<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Sistem Informasi Perpustakaan Kampus</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="brand">Perpustakaan</div>
        <div class="nav-links">
            <a href="/">Dashboard</a>
            <a href="/modules/buku">Buku</a>
            <a href="/modules/peminjam">Peminjam</a>
            <a href="/modules/peminjaman">Peminjaman</a>
        </div>
    </nav>
    <div class="container">